
<h2>Add new</h2>
<form method="post" action="/addNew">
	<input type="text" name="title" class="memo-title border" placeholder="title">
	<textarea name="body" class="memo-body border" placeholder="contents"></textarea>
    <!-- <input type= "textarea" cols="40" rows="80" name="body" class="memo-body"> -->
    <input type= "submit" value="post!" class="button add">
</form>

